body {
  margin: 0;
  font-family: system-ui;
  background-color: #e7f6ff;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
}
